<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Thông tin sinh viên</h2>
      <div
        class="col-12 p-4 content-main d-flex border rounded justify-content-center align-items-center"
      >
        <div class="thumb pe-5">
          <img src="assets/images/{{ student.img }}" alt="thumb poly" />
        </div>
        <ul class="infomation">
          <li><span>Họ Tên:</span> {{ student.fullname }}</li>
          <li><span>Tuổi:</span> {{ student.age }}</li>
          <li><span>Giới tính:</span> {{ student.sex }}</li>
          <li><span>Ngày sinh:</span> {{ student.birth }}</li>
          <li><span>Điểm TB:</span> {{ student.point }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
